@tailwind base;
@tailwind components;
@tailwind utilities;


/* Itim */
/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
/* Inter */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'flowbite/dist/flowbite.css';

:roote {
  --primary: #75ADD0,
    --secondary: #BCD2E9,
    --background: #E5E1EF,
    --highlight: #e0a8cd,
    --smothText: #5B5B5B,
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Roboto", sans-serif;;
}

.hero{
  background-image: url(../src/assets/images/mahmoud29.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.mainTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 150px;
  line-height: 48px;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 56px;
  }
}

@media (max-width: 480px) {
  .mainTitle {
    font-size: 48px;
  }
}

.secondTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 28px;
}


@media (max-width: 768px) {
  .secondTitle {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .secondTitle {
    font-size: 28px;
  }
}


.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.cardParagraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.btn {
  border-radius: 12px;
  padding: 8px 12px;
  border: 0;
}

.cr {
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #ffffff;
}

.slideInLeft {
  opacity: 0;
  transform: translateX(-40px);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.icon {
  top: 8%;
  left: -6%;
}